/* footer index.html */
.text-center {
  padding-top: 50px;
  background: url("../images/footer.png") repeat scroll 0px 0px transparent;
	padding: 0px;
	border-top: 1px solid #000;
	h3 {
	  margin-bottom: 30px;
	  color: white;
	}
	.footer-col {
  	margin-bottom: 50px;
	}
	.footer-below {
	  margin: 0px;
		padding: 16px;
		text-align: center;
		color: #626161;
		background: url("../images/disclaimer.png") repeat-x scroll 0px 0px transparent;
	}
	.copy {
		color: white;
	}
}