// .header-logo {
//   width: 100%;
//   height: 50px;
//   margin: 0 auto -50px;
//   position: relative;
//   z-index: 1;
//   padding: 0;
//   text-align: center;
//   background: transparent; }
//   .header-logo:after {
//     display: none; }
//   @media (min-width: 700px) {
//     .header-logo {
//       width: 90%;
//       margin-bottom: 50px;
//       background-color: #8BD8D8;
//       background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB5B4), to(#8BD8D8));
//       background: -webkit-linear-gradient(top, #6DB5B4, #8BD8D8);
//       background: -moz-linear-gradient(top, #6DB5B4, #8BD8D8);
//       background: -ms-linear-gradient(top, #6DB5B4, #8BD8D8);
//       background: -o-linear-gradient(top, #6DB5B4, #8BD8D8); }
//       .header-logo:after {
//         content: "";
//         position: absolute;
//         display: block;
//         top: 4px;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         z-index: -1;
//         background: rgba(0, 0, 0, 0.25);
//         height: 4px;
//         top: 100%; }
//       .header-logo {
//         background: #6DB5B4; }
//        .header-logo:after {
//           display: none; } }

// .to-eng {
//   width: 58px;
//   height: auto;
//   padding: 0;
//   position: absolute;
//   top: 4px;
//   left: 10px;
//   background: transparent;
//   font-size: 0;
//   line-height: 0; }
//  .to-eng {
//     border-radius: 58px;
//     border-bottom: 5px solid #65a09e;
//     background-color: #65a09e; }
//      .to-eng img {
//       margin-bottom: -3px; }
//   .to-eng{
//     width: 100%;
//     height: 100%;
//     margin: 0; }
//   @media (min-width: 700px) {
//     .to-eng {
//       background-color: #8BD8D8;
//       background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB5B4), to(#8BD8D8));
//       background: -webkit-linear-gradient(top, #6DB5B4, #8BD8D8);
//       background: -moz-linear-gradient(top, #6DB5B4, #8BD8D8);
//       background: -ms-linear-gradient(top, #6DB5B4, #8BD8D8);
//       background: -o-linear-gradient(top, #6DB5B4, #8BD8D8);
//       width: 100px;
//       height: 100px;
//       padding: 16px 14px 0;
//       top: -12px;
//       left: -24px;
//       border: none !important;
//       -webkit-border-radius: 100px;
//       /* Safari 4+ */
//       -moz-border-radius: 100px;
//       /* Fx 5+ */
//       -o-border-radius: 100px;
//       /* Opera 12+ */
//       border-radius: 100px;
//       /* IE 10+ */ }
//       .to-eng:after {
//         content: "";
//         position: absolute;
//         display: block;
//         top: 4px;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         z-index: -1;
//         background: rgba(0, 0, 0, 0.25);
//         -webkit-border-radius: 100px;
//         /* Safari 4+ */
//         -moz-border-radius: 100px;
//         /* Fx 5+ */
//         -o-border-radius: 100px;
//         /* Opera 12+ */
//         border-radius: 100px;
//         /* IE 10+ */ }
//      .to-eng {
//         width: 50px;
//         height: 50px;
//         background: #6DB5B4;
//         padding: 0;
//         top: 0;
//         left: 10px;
//         -webkit-border-radius: 0px;
//         /* Safari 4+ */
//         -moz-border-radius: 0px;
//         /* Fx 5+ */
//         -o-border-radius: 0px;
//         /* Opera 12+ */
//         border-radius: 0px;
//         /* IE 10+ */ }
//        .to-eng:after {
//           display: none; } }

// .to-center {
//   display: none;
//   width: 324px;
//   height: 75px;
//   padding: 5px 25px;
//   position: relative;
//   background-color: #8BD8D8;
//   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB5B4), to(#8BD8D8));
//   background: -webkit-linear-gradient(top, #6DB5B4, #8BD8D8);
//   background: -moz-linear-gradient(top, #6DB5B4, #8BD8D8);
//   background: -ms-linear-gradient(top, #6DB5B4, #8BD8D8);
//   background: -o-linear-gradient(top, #6DB5B4, #8BD8D8); 
// }
// .to-center:after {
//   content: "";
//   position: absolute;
//     display: block;
//     top: 4px;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     background: rgba(0, 0, 0, 0.25); }
//    .to-center {
//     background: #6DB5B4; }
//     .to-center:after {
//       display: none; }
//   @media (min-width: 700px) {
//     .to-center {
//       display: inline-block; } }

// .exit {
//   position: absolute;
//   top: 4px;
//   right: 6px;
//   background-color: rgba(0, 0, 0, 0.2);
//   padding: 2px;
//   zoom: .85;
//   border: 0;
//   font: 0/0 a;
//   text-shadow: none;
//   color: transparent;
//   display: block;
//   background-image: url("../img/exit-btn.png");
//   background-size: auto;
//   background-repeat: no-repeat;
//   background-position: 4px center;
//   width: 54px;
//   height: 54px; }
//   .exit:hover {
//     background-position: -46px center; }
//   @media (min-width: 700px) {
//     .exit {
//       width: 52px;
//       height: 42px;
//       background-color: transparent;
//       right: 10px;
//       border-left: 2px solid #6CB3B1;
//       zoom: 1;
//       padding: 0;
//       top: 4px;
//       -webkit-box-sizing: content-box;
//       /* Safari 4+ */
//       -moz-box-sizing: content-box;
//       /* Fx 5+ */
//       -o-box-sizing: content-box;
//       /* Opera 12+ */
//       box-sizing: content-box;
//       /* IE 10+ */ } }