/* Footer pronunciation page */
.footer-pronunciation {
  @include add-image("../images/Capture.png");
  @include size(1900px, 164px);
  @include add-margin(-76px, top);
  position: absolute;
  background-size: cover;
}

/* Footer index page */
.footer-main {
  @include add-image("../images/Capture.png");
  @include size(1900px, 164px);
  @include add-margin(950px, top);
  position: absolute;
  background-size: cover;
}

footer {
  color: #fff;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
  margin-bottom: -27px;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}

.nen {
    margin-top: 40px;
}

.fadeInUp {
    color: #FFFFFF;
    font-family: 'Great Vibes',cursive;
    font-size: 101px;
    font-weight: bold;
   // margin-top: 201px;
   // padding-left: 465px;
   padding-left: 30%;
}

.fadeInRight {
    color: #FFFFFF;
    font-family: 'Great Vibes',cursive;
    font-size: 101px;
    font-weight: bold;
    //margin-top: -327px;
    //padding-left: 820px;
    padding-left: 41%;
}

.img-2 {
    margin-left: -21px;
}

.font {
    color: #FFFFFF;
    font-family: 'Great Vibes',cursive;
    font-size: 101px;
    font-weight: bold;
    //margin-top: -456px;
    //padding-left: 664px;
    margin-top: -7%;
    padding-left: 57%;
    text-decoration: none;
    }
    .index-body a:hover,:focus{
      text-decoration: none;
    }


.index-body{
    /*background: url("../images/home-main.png");
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 100px;*/
     background: url("../images/home-main.png") no-repeat;
    display: block;
    
    height: 0;
    background-size: 100%;
    margin-top: 5%;
    padding-bottom: 34%;
}

.voca {
  color: white;
}

.voca:hover, .voca:focus, .voca:active, .voca.active{
  color: #18BC9C;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #18BC9C;
}

.navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #18BC9C;
}

.index{
  background-color: #9F4504;
}