.main-header {
  @include add-image("../images/header-bg.jpg");
  @include background-repeat(repeat-x, auto 100%);
  height: 140px;
  margin-top: 100px;
  margin-bottom: -101px;
  overflow: hidden;
  position: relative;
  text-align: left;
  z-index: 1;
}

.main-header ul a {
  color: white;
  text-decoration: none;
  &:hover, &focus {
    color: gray;
    text-decoration: none;
  }
}

header ul {
  @include text-shadow(0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227, 0 0 0.3em #1b8227);
  @include add-margin(0 20px 0 0, all);
  display: inline-block;
  float: right;
  font-family: dino-font,trebuchet ms,arial;
  font-size: 18px;
  list-style: outside none none;
  padding: 0;
  text-align: center;
  width: auto;
  li { 
    @include add-image("../images/leaves.png");
    @include size(163px, 182px);
    @include add-bg-position(0, -16%, inline-block);
    @include background-repeat(no-repeat, 123% auto);
    @include add-margin(0 -30px 5px 0, all);
    vertical-align: bottom;
    font-size: 17px;
    color: $white-color;
  }
}

.bg-main {
  @include add-image("../images/bg-bg.jpg");
  @include size(1169px, 721px);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: -100px;
}

header .single-vowel {
  @include size(89px, 89px);
  @include add-image("../images/icon.png");
  @include add-bg-position(0, 0, block);
  @include add-margin(26px auto -7px auto, all);
}

header .double-vowel {
  @extend .single-vowel;
  @include size(77px, 89px);
  @include add-bg-position(0, -92px, block);
  @include add-margin(13px 53px 4px auto, all);
}

header .song {
  @extend .single-vowel;
  @include size(75px, 75px);
  @include add-bg-position(0, -192px, block);
  @include add-margin(36px 43px -7px auto, all);
}

