	  <!-- // <script src="/assets/main.js"></script> -->
	  <!-- // <script src="/assets/loadpage.js"></script> -->
<header class="header-main container-fluid ">
	<div class="logo row">
		<div class="col-md-1">
			<a href="#"><img src="../assets/logo.png"></a>
		</div>
		<div class="col-md-5">
			<h1 class="text-3d">English for Kids</h1>
		</div>
		<div class="col-md-6">
			<ul class="header-right pull-right">
	      <li><button type="button" class="btn btn-default text-button"><%= link_to "Vocabulary", root_path, class: "button-main"%></button></li>
	      <li><button type="button" class="btn btn-default text-button"><%= link_to "Subject", root_path, class: "button-main"%></button></li>
	<li ><button type="button" class="btn btn-default text-button"><%= link_to "Pronunciation", root_path, class: "button-main"%></button></li>
	<li><button type="button" class="btn btn-default text-button"><%= link_to "Entertaiment", root_path, class: "button-main"%></button></li>
		</ul>
		</div>
	</div>
</header>