<!DOCTYPE html>
<html>
<head>
  <title>EnglishKids</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data({}) %>
 <!--  // <script src="/assets/main.js"></script>
  // <script src="/assets/loadpage.js"></script> -->
</head>
<body class="index">
<%= render 'layouts/header'%>
<%= yield %>
<!-- <%= debug(params) if Rails.env.development? %> -->
</body>
</html>
