<script src="/assets/quiz.js"></script>
<section class="section-question">
	<div class="container">
	
	<%@quizzes.each do |quiz|%>
		<div class="row item-question">
			<div class="col-md-1 col-md-offset-2">
				<%= image_tag "question.png", class: "img-index"%>
				<span class="question-index"><%=quiz.index%></span>
			</div>
			<div class="col-md-8">
				<p class="item-question"><%=quiz.question%></p>
			</div>
		</div>
		<div class="row content-question">
			<div class="col-md-4 col-md-offset-2">
				<%= image_tag "#{quiz.img}", class: "img-question"%>
			</div>
			<div class="col-md-6">
				<ul class="right-answers">
				<%@sub_quizzes.each do |sub_quiz|%>
				<%if quiz.id == sub_quiz.quiz_id%>
	            <li class="answers">
	               <input type="radio" name="question-1" id="1-1" value="1">
	               <label for="answer-1-1"><%=sub_quiz.answer%></label>
	            </li>
	           
	            <%end%>
	            <%end%>
	         </ul>
			</div>
		</div>
		<%end%>
		<div class="row check-question pull-right" >
			<input  type="button" class="check" value="Check" /> 
		<%= will_paginate @quizzes, :page_links => false%>
	
		</div>
		
	</div>
</section>

