<div class="container">
  <div class="row">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs pull-right" role="tablist">
        <li role="presentation" class="active item"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="item-vowel">Vowel</a></li>
        <li role="presentation" class="item"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Compare Sound</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active row" id="home">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Short Vowel</legend>
            <div class="control-group">
              <%=@short_vowels.each_slice(5) do |slice_of_six|%>
              <div class="row box">
                <%slice_of_six.each do |short_vowel|%>
                <div class="col-md-2  item-letter">
                  <%= link_to image_tag(short_vowel.img, class: "border-image-pronunciation"), pronunciation_example_path(short_vowel) %>
                </div>
                <%end%>
              </div>
              <%end%>
            </div>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Long Vowel</legend>
            <div class="control-group">
              <%=@long_vowels.each_slice(5) do |slice_of_six|%>
              <div class="row box">
                <%slice_of_six.each do |long_vowel|%>
                <div class="col-md-2  item-letter">
                  <%= link_to image_tag(long_vowel.img, class: "border-image-pronunciation"), pronunciation_example_path(long_vowel) %>
                </div>
                <%end%>
              </div>
              <%end%>
            </div>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Diphthong Vowel</legend>
            <div class="control-group">
              <%=@diphthong_vowels.each_slice(5) do |slice_of_six|%>
              <div class="row box">
                <%slice_of_six.each do |diphthong_vowel|%>
                <div class="col-md-2  item-letter">
                  <%= link_to image_tag(diphthong_vowel.img, class: "border-image-pronunciation"), pronunciation_example_path(diphthong_vowel) %>
                </div>
                <%end%>
              </div>
              <%end%>
            </div>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Consonant Vowel</legend>
            <div class="control-group">
              <%=@consonant_vowels.each_slice(5) do |slice_of_six|%>
              <div class="row box">
                <%slice_of_six.each do |consonant_vowel|%>
                <div class="col-md-2  item-letter">
                  <%= link_to image_tag(consonant_vowel.img, class: "border-image"), pronunciation_example_path(consonant_vowel) %>
                </div>
                <%end%>
              </div>
              <%end%>
            </div>
          </fieldset>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Compare Sound</legend>
            <div class="control-group">
              <%=@compare_sounds.each_slice(3) do |slice_of_six|%>
              <div class="row box">
              
                <%slice_of_six.each do |compare_sound|%>
                <div class="col-md-3  item-letter">
                  <%= link_to image_tag(compare_sound.img, class: "border-image"), pronunciation_examples_path(compare_sound)%>
                  <figcaption class="text-compare"><%=compare_sound.name%></figcaption>
                </div>
                <%end%>
              </div>
              <%end%>
            </div>
          </fieldset>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">.3..</div>
      </div>
    </div>
  </div>
</div>