.caption {
  font-size: 21px;
  width: 234px;
  }
.section-entertainment {
	button.close {
  color: red;
}


	.item-song {
		font-size: 36px;
		font-weight: bold;
		border-bottom: 1px solid gray;
	}
	.list-songs {
		.modal-title {
  	  font-size: 65px;
  color: rgb(76, 181, 59);
  font-family: "Lobster";
  }
		.image-audio {
			margin: 40px 0px 30px 133px;
			.modal-center {
				text-align: center;
				font-size: 18px;
			}
			.modal-body {
				  margin-top: -14px;
			}
			.modal-dialog {
				width: 1020px;
				.form-content {
		// 			  margin-top: -449px;
  // margin-left: 506px;
  // display: block;
  border: 1px solid green;
  margin-left: 30px;

				}
			}
		}
		#btn-image {
			position: relative;
			width: 233px;
			height: 233px;
			border: 1px solid green;
			.list-image {
				position: absolute;
				left: 0px;
  			top: 1px;
  			width: 230px;
			height: 230px;
		}
		.list-icon {
			position: absolute;
			top: 92px;
  		left: 90px;
		}
		}

		[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    // color: #333;
    border-radius: 10px;
    // box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 150px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* FOR TEST PURPOSES ONLY */
// div {
//     border: 1px solid silver;
//     // background: #ddd;
//     margin: 20px;
//     padding: 10px;
// }
	}
	.list-stories {

	}
	.list-movies {

	}
}