.list-pronunciation {
	.sub-menu {
		overflow: auto;
	  list-style-type: none;
	  li {
	  	height: 40px;
		  float: left;
		  margin-right: 0px;
		  border-right: 1px solid #aaa;
		  padding: 0 20px;
		  &:last-child {
		  	 border-right: none;
		  }
		  .item-menu {
		  	text-decoration: none;
			  color: #ccc;
			  font: 25px/1 Helvetica, Verdana, sans-serif;
			  // text-transform: uppercase;
			 
			  -webkit-transition: all 0.5s ease;
			  -moz-transition: all 0.5s ease;
			  -o-transition: all 0.5s ease;
			  -ms-transition: all 0.5s ease;
			  transition: all 0.5s ease;
			  &:hover {
			  	color: #666;
			  }
			  
		  }
	  }
	}
	li .active .item-menu {
  	font-weight: bold;
		color: red;
	}


}

// list item vocabulary of image

.list-pronunciation {
	// margin-top: -20px;
	.title-item {
		position: relative;
		.text-button {
			position: absolute;
			  top: -113px;
  			left: 967px;
		}
	}
	.list-image {
		width: 230px;
		height: 230px;
		border: 1px solid green;
		margin: 10px;
		padding: 20px;
	}
	.desc {
		span {
		font-size: 25px;
		}
		i.pause {
		display: none;
		font-size: 30px;
		padding: 10px;
		}
		i.play {
		font-size: 30px;
		padding: 10px;
		}
	}
	
}
div.row.btn-list{
		padding: 60px;
	}


.section-details {
	.title-text{
		font-size: 40px;
	}
	.list-image{
		  width: 130px;
  height: 116px;
  padding: 1px;
  margin: 4px;
	}

	.content {
		font-size: 20px;
		// color: rgb(38, 149, 197);
	}

	.desc {
		span {
		font-size: 20px;
		}
		i.pause1 {
		display: none;
		font-size: 20px;
		padding: 10px;
		}
		i.play1 {
		font-size: 20px;
		padding: 10px;
		}
	}
	.border-div {
	  border: 1px solid green;
  width: 495px;
  height: 133px;
}

.border-title {
	  border: 1px solid green;
  width: 983px;
  height: 55px;
  margin-left: 112px
}
}

fieldset.scheduler-border {
      border: 1px groove #ddd;
  padding: 20px;
  margin: 0 0 1.5em 0;
  box-shadow: 0px 0px 0px 0px #000;
  margin-top: 56px;
  width: 1011px;
  margin-left: 100px;
}

    legend.scheduler-border {
          font-size: 36px;
  font-weight: bold;
  text-align: left;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  margin-left: 368px;
    }


.item {
	  background-image: url("item.png");
  width: 150px;
  height: 150px;
}

.item-vowel {
	
}

.nav-tabs {
	  margin-top: -74px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	margin-top: 36px;
  font-size: 23px;
  margin-left: 17px;
  font-weight: bold;
  color: #f70b0b;
  background-color: rgb(238, 249, 255);
  border: none;
  border-bottom-color: none;
  width: 16px;
  height: 0px;

}

.nav-tabs > li> a, .nav-tabs > li > a:hover, .nav-tabs > li> a:focus{
	margin-top: 36px;
  font-size: 23px;
  margin-left: 17px;
  font-weight: bold;
  color: black;
  background-color: rgb(238, 249, 255);
  border: none;
  border-bottom-color: none;
  width: 16px;
  height: 0px;
 
}

.text-compare {
	font-size: 30px;
}