// list vocabularies

.box {
	width: 1170px;
  height: 130px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  .item-letter .border-image, .border-image-pronunciation{
		width: 120px;
		height: 130px;
		
		&:hover, &:focus {
			border-radius: 20px;
			border: 3px solid #F17288;
		}
	}
}

.item-image {
	width: 80px;
	height: 90px;
}
.border-image-pronunciation {
	border-radius: 20px;
	// border: 3px solid #F17288;
}

.text-pronuncaiton {
	width: 50px;
}

.back-vocabulary, .back-subject {
	  background-color: #F5EFA9;
  border: 1px solid green;
  border-radius: 20px;
  width: 154px;
  height: 49px;
  margin-left: 823px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  color: black;
  &:hover, &:focus {
  	background-color: #ffdf01;
  }
}