.section-question {
	.img-index {
		width: 70px;
		height: 70px;
	}
	.question-index {
		font-size: 39px;
	  font-weight: bold;
	  margin-top: -61px;
  	margin-left: 29px;
		display: block;
	}
	.item-question {
		font-size: 50px;
		// font-family: 'Lobster', cursive;
	}
	.content-question {
		.img-question {
			width: 290px;
			height: 290px;
			border-radius: 20px;
  			border: 3px solid #F17288;
			margin: 20px;
			padding: 10px;
		}
		.right-answers {
			margin: 20px;
			li {
				list-style-type: none;
				font-size: 52px;
				// font-family: 'Lobster', cursive;
			}
		}
	}
	.check-question {
		
		.check, .continue {
			font-size: 20px;
			width: 160px;
			height: 50px;
			margin: 20px;
			 background-color:  #F5EFA9;
			// margin-left: 100px;
			border-radius: 20px;
			border: 1px solid green;
			color: black;
			&:hover, &:focus {
				 background-color:  #FFDF01;
			}
		}		
	}
	
}

.pagination {
	width: 160px;
	height: 50px;
	background-color: #F5EFA9;
	border: 1px solid green;
	color: black;
	// background-color: #FFDF01;
			// margin-left: 100px;
			border-radius: 20px;
			&:hover, &:focus {
				background-color: #ffdf01;
			}
	.previous_page {
		display: none;
	}
	.next_page {
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		color: black;
		background-color: #F5EFA9;
			// margin-left: 100px;
			border-radius: 20px;
			font-weight: bold;
			&:hover, &:focus {
				background-color: #ffdf01;
			}
	}
	.next_page:hover, .next_page:focus {
		list-style-type: none;
		color: black;
	}
}

span.next_page.disabled {
	margin-left: 11px;
  padding-top: 11px;
  display: block;
}
a.next_page {
	margin-left: 11px;
  padding-top: 11px;
  display: block;
  
}


.img-check {
	// display: none;
	  width: 300px;
  height: 300px;
  margin-left: 128px;
}

.modal-body { 
	margin-top: 137px;
}
.modal-content {
	background-color: none;
	border: none;
	border-radius: none;
	box-shadow: none;

}