.section-detail {
	.img-detail {
		border: 1px solid green;
		padding: 20px;
		// margin: 20px;
	}
	.text-detatil{
	 	font-size: 60px;
	  margin: 0 0 0 40px;
	  padding-top: 100px;
	  display: block;
	}
	.text-translate {
	 	font-size: 30px;
	  margin: 0 0 0 40px;
	  display: block;
	}
	.answer_input {
		 width: 320px;
	  height: 50px;
	    margin: 119px 0 0 -24px;
	}
	.checkcontent {
		width: 160px;
  height: 50px;
  background-color:  #F5EFA9;
  border-radius: 20px;
  color: black;
  border: 1px solid green;
  // display: block
  &:hover, &:focus {
  	background-color:  #FFDF01;
  }
	}
}
