.section-list-part {
	.item-part {
		position: relative;
		.text-part {
			  font-size: 46px;
			  font-family: 'Yanone Kaffeesatz', sans-serif;
			  color: black;
			  text-decoration: none;
			  font-weight: bold;
			  margin-top: 115px;
			  position: absolute;
			  left: 26px;
			&:hover, &:focus {
				box-shadow: 0 0 8px #D6E6F4;
				border-radius: 5px;
				color: green;
  			transition: all 400ms ease-in-out 0s;
			}
		}
	}

	.text-writing {
			    font-size: 41px;
				  font-family: 'Yanone Kaffeesatz', sans-serif;
				  color: black;
				  text-decoration: none;
				  font-weight: bold;
				  margin-top: 116px;
				  position: absolute;
				  left: 0px;
			&:hover, &:focus {
				box-shadow: 0 0 8px #D6E6F4;
				border-radius: 5px;
				color: green;
  			transition: all 400ms ease-in-out 0s;
			}
		}

	.item-quiz {
		.text-quiz {
			font-size: 46px;
			  font-family: 'Yanone Kaffeesatz', sans-serif;
			  color: black;
			  text-decoration: none;
			  font-weight: bold;
			  margin-top: 113px;
			  position: absolute;
			  left: 34px;
			&:hover, &:focus {
				box-shadow: 0 0 8px #D6E6F4;
				border-radius: 5px;
				color: green;
  			transition: all 400ms ease-in-out 0s;
			}
		}
	}


	.item-text {
		border-radius: 20px;
		// border: 3px solid #F17288;
		  margin-left: -62px;
  margin-top: 31px;
  &:hover, &:focus {
  	border-radius: 20px;
		border: 3px solid #F17288;
  }
	}
}

.check-quiz {
	background-color: #F5EFA9;
	border-radius: 20px;
	  width: 166px;
  height: 50px;
  margin-top: -6px;
  color: black;
  &:hover, &:focus {
  	background-color: #FFDF01;
  	color: black;
  }
}