<section>
<p id="item_details" class="hidden"><%=raw @item_details.to_json%>

	<div class="container list-item">
	<div class="row">
		<%= render 'submenu' %>
	</div>
	<%=@details.each_slice(3) do |slice_of_three|%>
		<div class="row">
			<div class="col-md-2"></div>	
			<%slice_of_three.each do |detail|%>
			<div class="col-md-3">
			
				<%= image_tag "#{detail.img}", class: "list-image"%>
						<p class="desc">
							<span><%=detail.word%> - <%=detail.translate.force_encoding("UTF-8")%></span>
	            <audio id="detail<%=detail.index+detail.id.to_s()%>">
	              <source src='<%=detail.source%>' type='audio/mpeg'/>
	            </audio>
	            <a id="detail<%= detail.id.to_s()%>" class="play-detail" href="JavaScript:void(0)">
	            <i class="fa fa-volume-up fa-2 play" ></i>
	            <i class="fa fa-volume-up fa-2 pause"></i>
	            </a>
	          </p>
			</div>		
			<%end%> 

		</div>
		<%end%>
		<input  type="button" class="back-subject" value="Back"/> 
		<div class="pull-right"><%= will_paginate @details, :page_links => false%> </div>
		
	</div>
</section>