<section class="section-detail">
  <div class="container">
    <%@details.each do |detail|%>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 ">
        <%= image_tag "#{detail.img}", class: "img-detail"%>
      </div>
      <div class="col-md-5">
        <span class="text-detatil"><%=detail.word%></span>
        <span class="text-translate"><%=detail.translate %></span>
      </div>
      <div class="col-md-3">
        <%=text_field_tag '', nil, placeholder: 'Enter your answer here!', class: 'answer_input text-center'%>
      </div>
    </div>
    <%end%>
    <div class="row pull-right" >
      <!-- Button trigger modal -->
      <button type="button"  class="btn btn-primary btn-lg checkcontent" data-toggle="modal" data-target="#checkcontent">
      Check
      </button>
      <!-- Modal -->
      <div class="modal fade" id="checkcontent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body " >
              <%= image_tag "dung.png", class: "img-check" , id: "check-writing-correct", style: "display:none;"%>
              <%= image_tag "sai.png", class: "img-check" , id: "check-writing-incorrect", style: "display:none;"%>
              <%= will_paginate @details, :page_links => false%>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
</section>
