
/* Carousel */
.col-md-11 {
  @include add-margin(40px, left);

  .carousel {
    @include add-margin(20px, bottom);

    img {
      padding: 3px;
      @include add-border(1px, #cccccc, all);
    }

    .carousel-inner .carousel-caption span {
      font-family: $base-font-family;
      font-size: 30px;
      color: $green-color;
      font-weight: bold;
    }
  }
}

/* Menu bar */
.section-menu-bar {
  @include add-margin(-78px, top);
  @include size(1115px, 193px);
  width: 95%;
  background: url("../img/menu_bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  position: relative;

  .menu-nav {
    bottom: 55px;
    display: block;
    left: 264px;
    position: absolute;
    @include size(665px, 80px);

    li {
      @include add-margin(25px, all);
    }
  }
}
