/* Navbar */

.navbar {
  @include add-border(0px, #ffffff,'all');
  @include add-margin(30px, bottom);
  margin: auto;
  min-height: 50px;
  background: $dark-color;

  a {
    color: $dark-color;
    font-size: 20px;
    letter-spacing: -0.5px;
    padding: 20px 0 24px 0;
  }
}

.navbar-inverse .navbar-nav .menu:hover, .navbar-inverse .navbar-nav .menu:focus {
  color: $white-color;
  outline-style: none;
}

.pull-right {
  float: right;
  padding-top: 10px;
}

.fa {
  @include font-smoothing(antialiased, $webkit: true, $moz: false);
  @include font-smoothing(grayscale, $webkit: false, $moz: true);
  @include translate(0, 0);
  color: $speak-color;
  display: inline-block;
  text-rendering: auto;
  padding-right: 10px;
}

.btn {
  @include add-border(0px, #ffffff,'all');
  @include add-margin(-127px, left);
}

@media(min-width:768px) {
    .navbar-fixed-top {
      padding: 25px 0;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar-default,
.navbar-inverse {
  border: 0;
}
