/* Sections */

  /*main content index */
.mainContent {
  position: relative;

  .main-body {
    margin-top: -18px;
    margin-left: 52px;
    position: absolute;
    top: 244px;
    left: 279px;
    
    .main-list {
      @include add-margin(0 0 -33px -45px, all);
      width: 1180px;
    }

    .logo {
      @include add-margin(-466px auto -50px 416px, all);
      width: 79%;
    }
  }

  /* main header index */
  .header-index {
    @include add-image("../images/banner.png");
    @include size(625px, 184px);
    background-position: 0 0;
    display: block;
    left: 641px;
    top: 86px;
    position: absolute;
  
    .header-online{
      @include size(152px, 228px);
      background-position: 0 -189px;
      position: absolute;
      top: -67px;
      left: -189px;
    }

    .header-enter {
      @include size(303px, 204px);
      background-position: -151px -189px;
      position: absolute;
      top: -63px;
      left: 543px;
    }
  }
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

// page song.html
.notebook {
   background: url("../images/notebook.png") no-repeat;
    display: block;
    height: 0;
    background-size: 80%;
    margin-top: 2%;
    padding-bottom: 45%;
    //position: relative;
}

.prev {
  background: url("../images/pre.png") no-repeat;
    display: block;
    height: 60px;
    width: 60px;
    background-size: 80%;
    margin-top: 57%;
    //padding-bottom: 34%;
    //position: absolute;
}

.next {
  background: url("../images/next.png") no-repeat;
    display: block;
    height: 60px;
    width: 60px;
    background-size: 80%;
    margin-top: 57%;
    margin-left: -37px;
}

.slider div{
  display: none;
}

.slider .current{
  display: block;
}

.search-song {
  @include size(87px, 82px);
  @include add-image("../images/icon.png");
  @include add-bg-position(-95px, 0, block);
  margin-left: 102px;
  margin-top: 383px;
  padding-top: 77px;
  padding-left: 0;
  //@include add-margin(126px 0px -203px 103px, all);
}

.letter-search-song {
  font-size: 24px;
}

.book {
    background: url("../images/directory-bg-stories.png") no-repeat;
    display: block;
    //height: 60px;
   //width: 60px;
    background-size: 80%;
    margin-top: 57%;
    margin-left: -37px;
}