/* Font letter */

.font-letter {
	font-size: 110px;
	font-family: 'Butterfly Kids', cursive;
	color: $blue-color;
  	@include add-chu3d(#0000F0);
}
/* Icon */

.fa-2 {
  font-size: 18px;
}

.fa-3 {
  font-size: 24px;
  @include add-margin(4px, top);
}

.fa-4 {
  font-size: 27px;
}

.fa-5 {
  font-size: 35px;
}

.fa-6 {
  font-size: 40px;
  @include add-border(2px, #dddddd, bottom);
}

.top-fa {
  color: $white-color;
}

/* Color-text */

.h2-text {
  color: $blue-h2-color;
  @include add-chu3d(#ffffff);
}