/* Mixins */

@mixin border-radius($radius, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + "border-radius"}: #{$radius};
    }
  }
  border-radius: #{$radius};
}

@mixin background-size($cover, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + "background-size"}: #{$cover};
    }
  }
  background-size: #{$cover};
}

@mixin add-border($size, $color, $position) {
  @if ($position == 'all') {
    border: $size solid $color;
  } @else if ($position == 'top') {
    border-top: $size solid $color;
  } @else if ($position == 'bottom') {
    border-bottom: $size solid $color;
  } @else if ($position == 'right') {
    border-right: $size solid $color;
  } @else if ($position == 'left') {
    border-left: $size solid $color;
  } @else if ($position == 'top-bottom') {
    border-top: $size solid $color;
    border-bottom: $size solid $color;
  } @else if ($position == 'right-left') {
    border-right: $size solid $color;
    border-left: $size solid $color;
  }
}

@mixin add-margin($size, $position) {
  @if ($position == 'bottom') {
    margin-bottom: $size;
  }
  @if ($position == 'top') {
    margin-top: $size;
  }
  @if ($position == 'right') {
    margin-right: $size;
  }
  @if ($position == 'left') {
    margin-left: $size;
  }
  @if ($position == 'all') {
    margin: $size;
  }
}
@mixin font-smoothing($value, $webkit: true, $moz: true) {
  @if $webkit {
    -webkit-font-smoothing: $value;
  }
  @if $moz {
    -moz-osx-font-smoothing: $value;
  }
}

@mixin add-webkit($size, $position) {
  @if ($position == 'topleft') {
    -moz-border-radius-topleft: $size;
  } @else if ($position == 'topright') {
    -moz-border-radius-topright: $size;
  }
}

@mixin add-moz($size, $position) {
  @if ($position == 'top-right') {
    -webkit-border-top-right-radius: $size;
  } @else if ($position == 'bottom-right') {
    -webkit-border-bottom-right-radius: $size;
  }
  @else if ($position == 'top-left') {
    -webkit-border-top-left-radius: $size;
  }
}

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow; // iOS <4.3 & Android <4.1
    text-shadow: $shadow;
}

@mixin add-chu3d($color) {
  color: $color;
  font: "Arimo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 10px;
  @include text-shadow(0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
   0 20px 20px rgba(0,0,0,.15));
}

@mixin background-repeat($repeat, $size) {
  background-repeat: $repeat;
  background-size: $size;
}

@mixin add-image($url) {
  background-image: url($url);
}

@mixin add-bg-position($x, $y, $display) {
  background-position: $x $y;
  display: $display;
}
