<%= form_for(@pronunciation) do |f| %>
  <% if @pronunciation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pronunciation.errors.count, "error") %> prohibited this pronunciation from being saved:</h2>

      <ul>
      <% @pronunciation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
