<p id="notice"><%= notice %></p>

<h1>Listing Pronunciations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pronunciations.each do |pronunciation| %>
      <tr>
        <td><%= pronunciation.title %></td>
        <td><%= link_to 'Show', pronunciation %></td>
        <td><%= link_to 'Edit', edit_pronunciation_path(pronunciation) %></td>
        <td><%= link_to 'Destroy', pronunciation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pronunciation', new_pronunciation_path %>
