<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pronunciation.title %>
</p>

<%= link_to 'Edit', edit_pronunciation_path(@pronunciation) %> |
<%= link_to 'Back', pronunciations_path %>
