<section class="section-list-part">
	<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1 item-part">
			
			<%= link_to @parts[0].name, part_details_path(@parts[0]), class: "text-part"%>
			<%= link_to image_tag("vocabulary_part.png",class: "item-text"), part_details_path(@parts[0])%>
		</div>
		<div class="col-md-3 col-md-offset-1 item-part">
			
			<%= link_to @parts[1].name, part_detail_path(@parts[1], @subject), class: "text-writing text-center"%>
			<%= link_to image_tag("vocabulary_part.png",class: "item-text"), part_detail_path(@parts[1], @subject)%>
		</div>
		<div class="col-md-3 col-md-offset-1 item-quiz">
			<!-- <%= link_to "Go to Quiz", subject_quiz_path(@subject, @quiz) %> -->
			<%= link_to "Go to Quiz", subject_quiz_path(@subject, @quiz), class: "text-quiz "%>
			<%= link_to image_tag("vocabulary_part.png",class: "item-text"), subject_quiz_path(@subject, @quiz)%>
		</div> 
	</div>
	
	</div>
</section>