<section class="section-list-part">
	<div class="container">
		<%@parts.each do |part|%>
		<div class="col-md-3 col-md-offset-1">
			<%= link_to part.name, detail_path(part) %>
		</div>
		<%end%>
		<div class="col-md-3">
			<%= link_to "Go to Quiz", quiz_path(@subject) %>
		</div>
	</div>
</section>