 /*article pronunciaion.html */

.article-main {
	background: url("../images/body.png") repeat-x scroll 0px -60px transparent;
	position: relative;
	.header-content ul {
	  display: inline-block;
	  float: right;
	  font-family: dino-font,trebuchet ms,arial;
	  font-size: 18px;
	  list-style: outside none none;
	  text-align: center;
	  li {
	    display: inline-block;
	    margin: 130px 28px 30px 20px;
	    vertical-align: bottom;
	    font-size: 24px;
	    color: $white-color;
	     }
	}
}
/* screen tablet */
@media (min-width: 768px) and (max-width: 992px){
.article-main ul 
	    li a {
	    	color: black;
			  text-decoration: none;
			  font-size: 18px;
				font-family: 'Lobster', cursive;
			  &:hover, &focus {
			    color: gray;
			    text-decoration: none;
			    font-size: 18px;
					font-family: 'Lobster', cursive;
			  }
	    }
	    .single-vowel {
	    	position: absolute;
	    	left: 53%;
	    	margin-top: -2.5%;
	    }
	    .double-vowel {
	    	position: absolute;
	    	margin-left: -25%;
	    }
	    .song {
	    	position: absolute;
	    	margin-left: -2%;
margin-top: 6%;
	    }
}
/*end tablet*/
.article-section {
	background: url("../images/main1.png") no-repeat scroll 0% 0% / 100% auto transparent;
	height: 0px;
	margin-top: -88px;
	padding-bottom: 56%;
}

.footer-pro {
	background: url("../images/Capture.png") no-repeat scroll 0% 0% / 101% auto transparent;
	height: 0px;
	margin-top: -53px;
	padding-bottom: 13%;
	position: relative;
}

@media only screen and (max-width: 767px){
   .article-main ul li a{
   			font-size: 16px;
				font-family: 'Lobster', cursive;
				//color: red;
   }
}
/* screen desktop */
@media screen and (min-width: 1136px) {
	.article-main ul 
		

	    li a {
	    	color: black;
			  text-decoration: none;
			  font-size: 24px;
				font-family: 'Lobster', cursive;
			  &:hover, &focus {
			    color: red;
			    text-decoration: none;
			    font-size: 24px;
					font-family: 'Lobster', cursive;
			  }

	}
			  .single-vowel {
	    	position: absolute;
	    	left: 22%;
	    }
	    .double-vowel {
	    	position: absolute;
	    	left: 39%;
				top: 85%;
	    }
	    .song {
	    	position: absolute;
	    	left: 88%;
				top: 145%;
	    }

	   }
@media(min-width: 992px) and (max-width: 1136px){
	.article-main ul li a {
	    	color: black;
			  text-decoration: none;
			  font-size: 18px;
				font-family: 'Lobster', cursive;
			  &:hover, &focus {
			    color: red;
			    text-decoration: none;
			    font-size: 18px;
					font-family: 'Lobster', cursive;
			  }
			  .single-vowel {
	    	position: absolute;
	    	left: 22%;
	    }
	    .double-vowel {
	    	position: absolute;
	    	left: 39%;
				top: 76%;
	    }
	    .song {
	    	position: absolute;
	    	left: 88%;
				top: 123%;
	    }

	   }
	 }
/* end header pronuciation */

/* begin content pronunciation */

/*.wrap .main-1 {
   @include add-margin(15px, top);
  @include add-margin(-915px, left);

  li a {
    @include add-margin(-15px 50px 10px 915px, all);
  } 

}*/

.force-overflow {
	max-width: 50px;
	max-height: 250px;
	//margin-left: 600px;
}

.letter-a {
  @include size(97px, 85px);
  @include add-image("../images/letter.png");
  background-position: -26px -105px;
  display: block;
}
.letter-b {
  @extend .letter-a;
  background-position: -145px -105px;
}

.letter-d {
  @extend .letter-a;
  background-position: -378px -105px;
}

.letter-e {
  @extend .letter-a;
  background-position: -495px -105px;
}

.letter-f {
  @extend .letter-a;
  background-position: -613px -105px;
}

.letter-g {
  @extend .letter-a;
  background-position: -732px -105px;
}

.letter-h {
  @extend .letter-a;
  background-position: -86px -200px;
}

.letter-i {
  @extend .letter-a;
  background-position: -206px -200px;
}

.letter-j {
  @extend .letter-a;
  background-position: -322px -200px;
}

.letter-k {
  @extend .letter-a;
  background-position: -439px -200px;
}

.letter-l {
  @extend .letter-a;
  background-position: -555px -200px;
}

.letter-m {
  @extend .letter-a;
  background-position: -673px -200px;
}

.letter-n {
  @extend .letter-a;
  background-position: -27px -297px;
}

.letter-o {
  @extend .letter-a;
  background-position: -143px -297px;
}

.letter-p {
  @extend .letter-a;
  background-position: -264px -297px;
}

.letter-q {
  @extend .letter-a;
  background-position: -380px -297px;
}

.letter-r {
  @extend .letter-a;
  background-position: -498px -297px;
}

.letter-s {
  @extend .letter-a;
  background-position: -615px -297px;
}

.letter-t {
  @extend .letter-a;
  background-position: -737px -297px;
}

.letter-u {
  @extend .letter-a;
  background-position: -87px -393px;
}

.letter-v {
  @extend .letter-a;
  background-position: -207px -393px;
}

.letter-w {
  @extend .letter-a;
  background-position: -323px -393px;
}

.letter-x {
  @extend .letter-a;
  background-position: -441px -393px;
}

.letter-y {
  @extend .letter-a;
  background-position: -556px -393px;
}

.letter-z {
  @extend .letter-a;
  background-position: -671px -386px;
}
.scroll {
  @include size(68%, 504px);
  @include add-margin(25px, bottom);
  margin-top: 96px;
  margin-left: -13%;
  //@include add-margin(134px, top);
  //@include add-margin(687px, left);
  //float: left;
  //background: $dark-color;
  overflow-y: scroll;
}

@media (min-width: 767px) and (max-width: 992px){
	.scroll {
  @include size(107%, 504px);
  // @include add-margin(25px, bottom);
  // margin-top: 96px;
  // margin-left: -13%;
  //@include add-margin(134px, top);
  //@include add-margin(687px, left);
  //float: left;
  //background: $dark-color;
  // overflow-y: scroll;
}
}
	
.pro-content {
	//margin: 8% auto;
}


/* section pronunciation 1*/

.main {
	//margin-top: 90px;
		background: url("../images/main1.png") no-repeat scroll 0% 0% / 100% auto transparent;
	height: 0px;
	margin-top: 100px;
	padding-bottom: 56%;
}

.single {
	display: block;
	padding-left: 11%;
	padding-top: 14%;
}
.double {
display: block;
padding-left: 42%;
padding-top: 0%;
}

.songs {
display: block;
padding-left: 11%;
padding-top: 70%;
}

@media (min-width: 768px) and (max-width: 993px){
	.font-text{
	font-size: 14px;
	color: red;
	}
}
@media screen and (min-width: 993px){
	.font-text{
	font-size: 18px;
	color: green;
	}
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: none;
}


/* content book pronunciation.html*/

.content-book {
	//width: 100%;
	height: 435px;
}