/* navbar-header */

@media(min-width:768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    background: url("../images/navbar.png") repeat-x scroll 0px 0px transparent;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    border: 0;
    .navbar-brand {
      font-size: 20px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      padding-top: 0px;
      color: $dark-color;
      &:hover, &:focus {
        color: $blue-color;
      }
    }
    .navbar-collapse {
      margin-top: -12px;
      .navbar-nav {
        letter-spacing: 1px;
        display: block;
        li > a {
          color: $dark-color;
          &:hover, &:focus {
            color: $blue-color;
          }
        }
      }
    }
  }
}
