/* main-index */
.main-index {
	width: 100%;
	background-size: 100% 100%;
}

/* desktop */
@media screen and (min-width: 767px) {
	.main-index {
		background-image: url('../images/main-home.png');
		width: 100%;
		height: 810px;
		margin-top: 68px;
	}
}

@media (min-width: 767px) {
  .list-item:after {
    //thanh vang vang chua 3 muc online, enter, song
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    // lien quan toi duong dai dai ben online 
    top: 80%;
    left: 10%;
    border: 1px solid #eca92a;
    border-radius: 10px;
    background-color: #ffe243;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff48b), to(#ffe243));
    background: -webkit-linear-gradient(top, #fff48b, #ffe243);
    background: -moz-linear-gradient(top, #fff48b, #ffe243);
    background: -ms-linear-gradient(top, #fff48b, #ffe243);
    background: -o-linear-gradient(top, #fff48b, #ffe243);
    box-shadow: 6px 0px 0px #FFFFFF, -6px 0px 0px #FFFFFF, 0px 6px 0px #FFFFFF, 0px -6px 0px #FFFFFF, 6px 6px 0px #FFFFFF, 6px -6px 0px #FFFFFF, -6px 6px 0px #FFFFFF, -6px -6px 0px #FFFFFF; 
  }
  .list-item:before {
    content: "";
    box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.35); 
  }
}

@media (min-width: 767px) {
  .list-item {
    display: inline-block;
    position: relative;
    margin: 0 0 0 50px;
    width: 400px;
  }
}

.nav-item {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  background-color: #ffe243;
}

@media (min-width: 767px) {
  .nav-item {
    width: 21.25%;
    height: 82px;
    background: transparent;
  }
  .nav-item + .nav-item {
    margin-left: 20%; 
  }
  .nav-item:nth-child(3) {
    margin-left: 15%; 
  } 
}



.nav-image {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
   }
  .nav-item:hover .nav-image {
    -webkit-animation: nav-boing 2 0.2s ease-in-out;
    -moz-animation: nav-boing 2 0.2s ease-in-out;
    -o-animation: nav-boing 2 0.2s ease-in-out;
    animation: nav-boing 2 0.2s ease-in-out;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: text-shadow 0.2s ease-in-out;
    -moz-transition: text-shadow 0.2s ease-in-out;
    -o-transition: text-shadow 0.2s ease-in-out;
    transition: text-shadow 0.2s ease-in-out;
}

  @media (min-width: 768px) {
    .nav-image {
      margin: 15px -13px 0 55%;
      max-width: 200%; } }

.nav-text {
  font-family: "Joint";
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  top: -60px;
  margin-left: 90%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out; 
  &:first-letter {
    font-size: 34px; 
  }
}

.nav-enter .nav-text {
  text-shadow: -1px -1px 0px #FC2010, 1px -1px 0px #FC0000, -1px 1px 0px #FF1324, 1px 1px 0px #FF0618, -2px 3px 0px #5C4C05, -1px 4px 8px #000, 0px 1px 10px #000;
  margin-left: 45%;
}

.nav-online .nav-text {
  text-shadow: -1px -1px 0 #5c4c05, 1px -1px 0 #5c4c05, -1px 1px 0 #5c4c05, 1px 1px 0 #5c4c05, -2px 3px 0 #5c4c05, -1px 4px 8px #000000, 0px 1px 10px #000000; 
}

.nav-login .nav-text {
  text-shadow: -1px -1px 0 #4d680a, 1px -1px 0 #4d680a, -1px 1px 0 #4d680a, 1px 1px 0 #4d680a, -2px 3px 0 #4d680a, -1px 4px 8px #000000, 0px 1px 10px #000000; 
}

.nav-item:hover .nav-text {
  -webkit-animation: nav-boing 0.2s ease-in-out;
  -moz-animation: nav-boing 0.2s ease-in-out;
  -o-animation: nav-boing 0.2s ease-in-out;
  animation: nav-boing 0.2s ease-in-out;
  -webkit-transform: scale(1.2) rotate(-4deg);
  -moz-transform: scale(1.2) rotate(-4deg);
  -o-transform: scale(1.2) rotate(-4deg);
  transform: scale(1.2) rotate(-4deg);
  -webkit-transition: text-shadow 0.2s ease-in-out;
  -moz-transition: text-shadow 0.2s ease-in-out;
  -o-transition: text-shadow 0.2s ease-in-out;
  transition: text-shadow 0.2s ease-in-out;
}
  
.featured {
  display: none;
  margin: 0 -52% 0 0;
  float: right;
  margin-bottom: 35px;
  position: relative;
  z-index: 99;
  top: 100%; 
}

@media (min-width: 767px) {
  .featured {
    top: 142px; 
  } 
}

@media (min-width: 1740px) {
  .featured {
    margin-right: 0;
    margin-left: 1390px;
    float: left; 
    } 
}

.vocabulary {
  background: url(../images/vocabulary.png) 0 0 no-repeat;
}

.pronunciation {
  background: url(../images/pronunciation.png) 0 0 no-repeat;
}

.subject {
  background: url(../images/study-subject.png) 0 0 no-repeat;
}

.featured-item {
  background-size: 100% auto;
  background-color: #c1210f;
  width: 248px;
  height: 150px;
  margin-bottom: 19.5px;
  display: block;
  padding: 18.5px 0px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5); 
  &:hover {
     box-shadow: 6px 0px 2px #FFFFFF, -6px 0px 2px #FFFFFF, 0px 6px 2px #FFFFFF, 0px -6px 2px #FFFFFF, 6px 6px 2px #FFFFFF, 6px -6px 2px #FFFFFF, -6px 6px 2px #FFFFFF, -6px -6px 2px #FFFFFF;
  box-shadow: 6px 0px 2px rgba(255, 255, 255, 0.5), -6px 0px 2px rgba(255, 255, 255, 0.5), 0px 6px 2px rgba(255, 255, 255, 0.5), 0px -6px 2px rgba(255, 255, 255, 0.5), 6px 6px 2px rgba(255, 255, 255, 0.5), 6px -6px 2px rgba(255, 255, 255, 0.5), -6px 6px 2px rgba(255, 255, 255, 0.5), -6px -6px 2px rgba(255, 255, 255, 0.5); 
  }
}

