/* section-main of index.html*/

// .main-section {
// 	background: url("../images/home-main.png") no-repeat;
//   height: 0;
//   background-size: 100%;
//   margin-top: 6%;
//   padding-bottom: 40%;
//   .rotateInDownLeft {
//     margin-top: 5%;
//     padding-left: 9%;
//     max-width: 76%;
//   }
//   .fadeInRightBig {
//     padding-top: 6%;
//     padding-left: 27%;
//     max-width: 85%;
//   }
//   .rollIn {
//     padding-top: 11%;
//     max-width: 62%;
//   }
// }