
.song-book {
  width: 57%;
  height: 371px;
  border-radius: 16px;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
  background: url(../images/notebook.png) 0 0 no-repeat;
   }

@media (min-width: 767px) {
  .song-book  {
    top: 93px;
  } 
}

@media (min-width: 1740px) {
  .song-book  {
    margin-right: 0;
    margin-left: 1390px;
    float: left; 
  } 
}

.img {
	margin-top: 91px;
	position: relative;
}

#container {
	height: 91px;
  width: 541px;
  position: relative;
  overflow: hidden;
  margin-top: -216px;
  margin-left: 67px;
}
article {
	height:210px;
	width: 1320px;
	left: 0px;
	position: absolute;	
}

article section {
	float: left;
	margin-right:20px;
	display: inline-block;
}

input {
	text-transform:uppercase;
	margin-right: 10px;
	margin-top: 10px;
}

article img:hover {
	-moz-animation: games-boing 0.2s ease-in-out;
    /* Fx 5+ */
    -o-animation: games-boing 0.2s ease-in-out;
    /* Opera 12+ */
    animation: games-boing 0.2s ease-in-out;
    // IE 10+
    -webkit-transform: scale(1.05) rotate(-1deg) translateY(8px);
    /* Safari 4+ */
    -moz-transform: scale(1.05) rotate(-1deg) translateY(8px);
    /* Fx 5+ */
    -o-transform: scale(1.05) rotate(-1deg) translateY(8px);
    /* Opera 12+ */
    transform: scale(1.05) rotate(-1deg) translateY(8px);
    /* IE 10+ */
    -webkit-box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.6);
    /* Safari 4+ */
    -moz-box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.6);
    // /* Fx 5+ */
    -o-box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.6);
    /* Opera 12+ */
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.6);
}

.btnprev {
  border-radius: 50%;
  background: white;
  background: url("../images/btn-pre.png") no-repeat;
  display: block;
  height: 60px;
  width: 60px;
  background-size: 80%;
  margin-top: 57%;
}

.btnnext {
  background: url("../images/btn-next.png") no-repeat;
    display: block;
    height: 60px;
    width: 60px;
    background-size: 80%;
    margin-top: 57%;
    margin-left: -37px;
}

.slider div{
  display: none;
}

.slider .current{
  display: block;
}

.center-block {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 15px;
  color: red;
}

.controls{
  margin-top: -61px;
}

.show-images{
  margin-left: 10px;
}

.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 400px;
    padding: 10px;
    background: #EEEFEB;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
.popbox h2
{
    background-color: #4D4F53;
    color:  #E3E5DD;
    font-size: 14px;
    display: block;
    width: 100%;
    margin: -10px 0px 8px -10px;
    padding: 5px 10px;
}