.main-pro {
  background: url("../images/bg-texture-blue.png") repeat scroll 0px 0px transparent;
	height: 800px;
	margin-top: 6%;
}

.content-pro {
	width: 100%;
	background-size: 100% 100%;
	
}

@media screen and (min-width: 767px){
	.content-pro{
		background-image: url('../images/main-content1.png');
		max-width: 80%;
		height: 600px;
		margin-top: 68px;
	}

}

.tab-content > .tab-pane {
  position: relative;
  height: 300px;
  .content {
    width: 29%;
    height: 100%;
    position: absolute;
    top: 45px;
    left: 583px;
    overflow: auto;
    h2 {
      color: $blue-h2-color;
    }
    
  }
  .video {
    position: absolute;
    margin-left: 31%;
    margin-top: 12%;
    .image-a {
      @include add-image("../images/tab-content.png");
      @include size(100px, 91px);
      background-position: 0 0;
      display: block;
      position: relative;
      .pro-text {
        color: $dark-color;
        position: absolute;
        top: 150px;
        left: 18px;
      }
    }
    p.desc {
      @include add-margin(-140px 0 0 124px, all);
      width: 31px;
      #pause {
        display: none;
      }
    }
  } 
// load video pronunciation
  .list {
    @include add-margin(30px, bottom);
    margin-left: -37px;
    width: 123%;
    li {
      @include add-border(1px, #cccccc, bottom);
      border-bottom: 1px solid #cccccc;
      position: relative;
      padding: 10px 0 5px 5px;
      &:last-child {
        border: 0;
      }
      span {
        @include add-margin(14px, right);
        font-size: 147%;
        font-family: inherit;
        color: salmon;
        font-weight: bold;
      }
      .desc i {
        position: absolute;
        top: 24px;
        right: 29px;
      }
      #pause {
        display: none;
      }
      i .fa-check {
        @include add-margin(26px 5px 0 0, all);
      }
    }
  }
}

.pronunciation-test {
  position: absolute;
  top: 398px;
  right: -127px;
  height: 250px;
  font-size: 28px;
  p span {
    color: $red-color;
  }
}

.fa {
  @include font-smoothing(antialiased, $webkit: true, $moz: false);
  @include font-smoothing(grayscale, $webkit: false, $moz: true);
  @include translate(0, 0);
  color: $speak-color;
  display: inline-block;
  text-rendering: auto;
  padding-right: 10px;
}
