<%= form_for(@study_subject) do |f| %>
  <% if @study_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_subject.errors.count, "error") %> prohibited this study_subject from being saved:</h2>

      <ul>
      <% @study_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
