<p id="notice"><%= notice %></p>

<h1>Listing Study Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_subjects.each do |study_subject| %>
      <tr>
        <td><%= study_subject.title %></td>
        <td><%= link_to 'Show', study_subject %></td>
        <td><%= link_to 'Edit', edit_study_subject_path(study_subject) %></td>
        <td><%= link_to 'Destroy', study_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study subject', new_study_subject_path %>
