<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @study_subject.title %>
</p>

<%= link_to 'Edit', edit_study_subject_path(@study_subject) %> |
<%= link_to 'Back', study_subjects_path %>
