// define button in header

.text-button {
	width: 130px;
	height: 40px;
	background-color: #E1F6FF;
	&:hover, &:focus {
		width: 130px;
		height: 40px;
		background-color: #E1F6FF;
		}
		.button-main {
			color: black;
			text-decoration: none;
			font-weight: bold;
			font-family: 'Crete Round', serif;
			font-size: 16px;
			&:hover, &:focus {
				color: black;
				text-decoration: none;
				font-weight: bold;
				font-family: 'Crete Round', serif;
				font-size: 16px;
			}
		}
		.btn-focus {
			color: red;
			&:hover, &:focus {
				color: red;
				text-decoration: none;
				font-weight: bold;
				font-family: 'Crete Round', serif;
				font-size: 16px;
			}
		}
	}

.btn-list {
	display: inline-block;
	margin-left: 375px;
	.back, .next {
		background-color: #E1F6FF;
		color: black;
		border: 1px solid green;
		width: 150px;
		height: 40px;
		margin: 20px;
			text-decoration: none;
			font-weight: bold;
			font-family: 'Crete Round', serif;
			font-size: 16px;
			&:hover, &:focus {
				background-color: #E1F6FF;
				color: black;
				text-decoration: none;
				font-weight: bold;
				font-family: 'Crete Round', serif;
				font-size: 16px;
			}
	}
}