.section-question {
	.img-index {
		width: 70px;
		height: 70px;
	}
	.question-index {
		font-size: 39px;
	  font-weight: bold;
	  margin-top: -61px;
  	margin-left: 29px;
		display: block;
	}
	.item-question {
		font-size: 50px;
		font-family: 'Lobster', cursive;
	}
	.content-question {
		.img-question {
			width: 290px;
			height: 290px;
			border: 1px solid green;
			margin: 20px;
			padding: 10px;
		}
		.right-answers {
			margin: 20px;
			li {
				list-style-type: none;
				font-size: 52px;
				font-family: 'Lobster', cursive;
			}
		}
	}
	.check-question {
		
		.check, .continue {
			font-size: 20px;
			width: 160px;
			height: 50px;
			margin: 20px;
			 background-color: #E1F6FF;
			// margin-left: 100px;
			border: 1px solid green;
		}		
	}
	
}

.pagination {
	width: 160px;
	height: 50px;
	background-color: #E1F6FF;
	border: 1px solid green;
	.previous_page {
		display: none;
	}
	.next_page {
		font-size: 20px;
		text-align: center;
	}
	.next_page:hover, .next_page:focus {
		list-style-type: none;
	}
}

span.next_page.disabled {
	  margin-left: 11px;
  padding-top: 11px;
  display: block;
}
a.next_page {
	  margin-left: 11px;
  padding-top: 11px;
  display: block;
  
}