// list vocabularies

.box {
	width: 1170px;
  height: 130px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  .item-letter .border-image {
		width: 120px;
		height: 130px;
		&:hover, &:focus {
			border-radius: 20px;
			border: 3px solid #F17288;
		}
	}
}

.item-image {
	width: 80px;
	height: 90px;
}