// list item vocabulary of image

.list-item {
	// margin-top: -20px;
	.title-item {
		position: relative;
		.text-button {
			position: absolute;
			  top: -113px;
  			left: 967px;
		}
	}
	.list-image {
		width: 230px;
		height: 230px;
		border: 1px solid green;
		margin: 10px;
		padding: 20px;
	}
	.desc {
		span {
		font-size: 25px;
		}
		i.pause {
		display: none;
		font-size: 30px;
		padding: 10px;
		}
		i.play {
		font-size: 30px;
		padding: 10px;
		}
	}
	
}
div.row.btn-list{
		padding: 60px;
	}
