  <!-- // <script src="/assets/main.js"></script> -->
  <!-- // <script src="/assets/loadpage.js"></script> -->
<header class="header-main container-fluid">
	<div class="logo row">
		<div class="col-md-1">
			<a href="#"><img src="assets/logo.png"></a>
		</div>
		<div class="col-md-5">
			<%= link_to "English for Kids", root_path, class: "text-3d"%>
			<!-- <h1 class="text-3d">English for Kids</h1> -->
		</div>
	</div>
</header>