
<header class="header-main container-fluid ">
	<div class="logo row">
		<div class="col-md-1">
			<a href="#"><img src="/assets/logo.png"></a>
		</div>
		<div class="col-md-5">
		<%= link_to "English for Kids", root_path, class: "text-3d"%>
		</div>
		<div class="col-md-6">
		<ul class="header-right pull-right">
	      <li><button type="button" class="btn btn-default text-button " id='btn-vocabulary'><%= link_to "Vocabulary", vocabularies_path, class: "button-main"%></button></li>
	      <li><button type="button" class="btn btn-default text-button " id="btn-subject"><%= link_to "Subject", subjects_path, class: "button-main"%></button>
	      	
	      </li>
	<li ><button type="button" class="btn btn-default text-button " id="btn-pronunciation"><%= link_to "Pronunciation", pronunciations_path, class: "button-main"%></button></li>
	<li><button type="button" class="btn btn-default text-button " id="btn-entertainment"><%= link_to "Entertaiment", entertainments_path, class: "button-main"%></button></li>
		</ul>
		</div>
	</div>
</header>