<!DOCTYPE html>
<html>
<head>
  <title>EnglishKids</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- // <script src="/assets/main.js"></script> -->
</head>
<body class="index">
<%= render 'layouts/header'%>
<%= yield %>
<!-- <%= debug(params) if Rails.env.development? %> -->
</body>
</html>
