<section class="header-index">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= link_to image_tag('logo-index1.png'), vocabularies_path %>
				<h3 class="text-voca">Vocabulary</h3>
			</div>
			<div class="col-md-3">
				<%= link_to image_tag('logo-index1.png'), subjects_path %>
				<h3 class="text-subject">Subject</h3>
			</div>
			<div class="col-md-3">
				<%= link_to image_tag('logo-index1.png'), pronunciations_path %>
				<h3 class="text-pro">Pronunciation</h3>
			</div>
			<div class="col-md-3">
				<%= link_to image_tag('logo-index1.png'), entertainments_index_path %>
				<h3 class="text-enter">Entertaiment</h3>
			</div>
		</div>
	</div>
 <!--  <script src="/assets/main.js"></script>
// <script src="/assets/detail.js"></script>
//  <script src="/assets/loadpage.js"></script> -->
</section>

