<body class="index">
	<header class="header-main container-fluid ">
		<div class="logo row">
			<div class="col-md-1">
				<a href="#"><img src="../assets/logo.png"></a>
			</div>
			<div class="col-md-5">
				<h1 class="text-3d">English for Kids</h1>
			</div>
			<div class="col-md-6">
				<ul class="header-right pull-right">
		      <li><button type="button" class="btn btn-default text-button "><%= link_to "Vocabulary", root_path, class: "button-main btn-focus"%></button></li>
		      <li><button type="button" class="btn btn-default text-button"><%= link_to "Subject", root_path, class: "button-main"%></button></li>
       <li ><button type="button" class="btn btn-default text-button"><%= link_to "Pronunciation", root_path, class: "button-main"%></button></li>
        <li><button type="button" class="btn btn-default text-button"><%= link_to "Entertaiment", root_path, class: "button-main"%></button></li>
    		</ul>
			</div>
		</div>
	</header>

	<section>
		<div class="container">
			
			<div class="row list-item">
				<div class="col-md-2 title-item">
					<%= image_tag "a.png", class: ""%>
						<button type="button" class="btn btn-default text-button"><%= link_to "Go to Quiz", root_path, class: "button-main"%>
				</div>
				<div class="col-md-3">
					 <%= image_tag "ant.png", class: "list-image"%>
						<p class="desc">
							<span>Ant- Con kien</span>
	            <audio id="1">
	              <source src='1' type='audio/mpeg'/>
	            </audio>
	            <a id="2" class="play-audio" href="JavaScript:void(0)">
	            <i class="fa fa-volume-up fa-2 play" ></i>
	            <i class="fa fa-volume-up fa-2 pause"></i>
	            </a>
	          </p>
				</div>
				<div class="col-md-3">
					<%= image_tag "alligator.png", class: "list-image"%>
						<p class="desc">
							<span>Alligator- Ca sau</span>
	            <audio id="1">
	              <source src='1' type='audio/mpeg'/>
	            </audio>
	            <a id="2" class="play-audio" href="JavaScript:void(0)">
	            <i class="fa fa-volume-up fa-2 play"></i>
	            <i class="fa fa-volume-up fa-2 pause"></i>
	            </a>
	          </p>
				</div>
				<div class="col-md-3">
					<%= image_tag "apple.png", class: "list-image"%>
					<p class="desc">
						<span>Apple- Qua tao</span>
            <audio id="1">
              <source src='1' type='audio/mpeg'/>
            </audio>
            <a id="2" class="play-audio" href="JavaScript:void(0)">
            <i class="fa fa-volume-up fa-2 play"></i>
            <i class="fa fa-volume-up fa-2 pause"></i>
            </a>
          </p>
				</div>
			</div>
			<div class="row btn-list">
				<div class="col-md-1 col-md-offset-2">
					<button type="button" class="btn btn-default text-button"><%= link_to "Back", root_path, class: "button-main"%>
				</div>
				<div class="col-md-1 col-md-offset-6">
					<button type="button" class="btn btn-default text-button"><%= link_to "Next", root_path, class: "button-main"%>
				</div>
			</div>
		</div>
	</section>
	
</body>