<body class="index">
	<header class="header-main container-fluid ">
		<div class="logo row">
			<div class="col-md-1">
				<a href="#"><img src="../assets/logo.png"></a>
			</div>
			<div class="col-md-5">
				<h1 class="text-3d">English for Kids</h1>
			</div>
			<div class="col-md-6">
				<ul class="header-right pull-right">
		      <li><button type="button" class="btn btn-default text-button"><%= link_to "Vocabulary", root_path, class: "button-main"%></button></li>
		      <li><button type="button" class="btn btn-default text-button"><%= link_to "Subject", root_path, class: "button-main"%></button></li>
       <li ><button type="button" class="btn btn-default text-button"><%= link_to "Pronunciation", root_path, class: "button-main"%></button></li>
        <li><button type="button" class="btn btn-default text-button"><%= link_to "Entertaiment", root_path, class: "button-main"%></button></li>
    		</ul>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row box">
				<!-- <div class="box"> -->
					<div class="col-md-2 col-md-offset-1 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'itemVocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('b.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('c.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('d.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('e.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<!-- </div> -->
				
			</div>

			<div class="row box">
				<div class="col-md-2 col-md-offset-1 item-letter">
					<%= link_to image_tag('f.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('g.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('h.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('i.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('j.png', class: "border-image"), 'page/vocabulary' %>
				</div>
			</div>

			<div class="row box">
				<div class="col-md-2 col-md-offset-1 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
			</div>


			<div class="row box">
				<div class="col-md-2 col-md-offset-1 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
			</div>

			<div class="row box">
				<div class="col-md-2 col-md-offset-1 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
				<div class="col-md-2 item-letter">
					<%= link_to image_tag('a.png', class: "border-image"), 'page/vocabulary' %>
				</div>
			</div>
		</div>
	</section>
	
</body>