<section class="section-question">
  <p id="item_quiz" class="hidden"><%=raw @item_quiz.to_json%>
  <div class="container">
    <%@quizzes.each do |quiz|%>
    <div class="row item-question">
      <div class="col-md-1 col-md-offset-2">
        <%= image_tag "question.png", class: "img-index"%>
        <span class="question-index"><%=quiz.index%></span>
      </div>
      <div class="col-md-8">
        <p class="item-question"><%=quiz.question%></p>
      </div>
    </div>
    <div class="row content-question">
      <div class="col-md-4 col-md-offset-2">
        <%= image_tag "#{quiz.img}", class: "img-question"%>
      </div>
      <div class="col-md-6">
        <ul class="right-answers">
          <%@sub_quizzes.each do |sub_quiz|%>
          <%if quiz.id == sub_quiz.quiz_id%>
          <li class="answers">
            <input type="radio" name="question-1" id="<%=quiz.id%><%=sub_quiz.index%>" value="1">
            <label ><%=sub_quiz.answer%></label>
          </li>
          <%end%>
          <%end%>
        </ul>
      </div>
    </div>
    <%end%>
    <div class="row check-question pull-right" >
      <!-- Button trigger modal -->
      <button type="button"  class="btn btn-primary btn-lg check" data-toggle="modal" data-target="#mycheck">
      Check
      </button>

      <!-- Modal -->
      <div class="modal fade" id="mycheck" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body " >
              <%= image_tag "dung.png", class: "img-check" , id: "check-question-correct", style: "display:none;"%>
              <%= image_tag "sai.png", class: "img-check" , id: "check-question-incorrect", style: "display:none;"%>
            </div>
          </div>
        </div>
      </div>
      <%= will_paginate @quizzes, :page_links => false%>
    </div>
  </div>
  <!--end .check-question -->
  </div>
</section>
