
<section class="section-question">
<p id="item_quiz" class="hidden"><%=raw @item_quiz.to_json%>
	<div class="container">
	<%@quizzes.each do |quiz|%>
		<div class="row item-question">
			<div class="col-md-1 col-md-offset-2">
				<%= image_tag "question.png", class: "img-index"%>
				<span class="question-index"><%=quiz.index%></span>
			</div>
			<div class="col-md-8">
				<p class="item-question"><%=quiz.question%></p>
			</div>
		</div>
		<div class="row content-question">
			<div class="col-md-4 col-md-offset-2">
				<%= image_tag "#{quiz.img}", class: "img-question"%>
			</div>
			<div class="col-md-6">
				<ul class="right-answers">
				<%@sub_quizzes.each do |sub_quiz|%>
				<%if quiz.id == sub_quiz.quiz_id%>
	            <li class="answers">
	               <input type="radio" name="question-1" id="<%=quiz.id%><%=sub_quiz.index%>" value="1">
	               <label><%=sub_quiz.answer%></label>
	            </li>
	           
	            <%end%>
	            <%end%>
	         </ul>
			</div>
		</div>
		<%end%>
		<div class="row check-question pull-right" >
			<!-- Button trigger modal -->
      <button type="button"  class="btn btn-primary btn-lg check-quiz" data-toggle="modal" data-target="#check-quiz">
      Check
      </button>
      <!-- Modal -->
      <div class="modal fade" id="check-quiz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body " >
              <%= image_tag "dung.png", class: "img-check" , id: "check-quiz-correct", style: "display:none;"%>
              <%= image_tag "sai.png", class: "img-check" , id: "check-quiz-incorrect", style: "display:none;"%>
            </div>
          </div>
        </div>
      </div>
		<%= will_paginate @quizzes, :page_links => false%>
	
		</div>
		
	</div>
</section>

