/* Font letter */
@import "variables";
@import "mixins";


.text-3d {
// color: green;
@include add-chu3d(rgb(255, 223, 1),'Lobster');
padding: 65px 0 0 30px;
font-size: 60px;
}

.text-voca {
	// @include add-chu3d(green,'Playfair Display');
	font-size: 38px;
  margin-top: -110px;
  margin-left: 23px;
}

.text-subject {
	@extend .text-voca;
	margin-left: 38px;
}

.text-pro {
	@extend .text-voca;
	margin-left: 7px;
  font-size: 33px;

}

.text-enter {
	@extend .text-voca;
	margin-left: 17px;
  font-size: 32px;
}

