<div class="container section-details">
  <p id="item_compare" class="hidden"><%=raw @pronunciations.to_json%>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 border-title">
      <p class="title-text text-center"><%=@pronunciation.name%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <%@compareSounds.each do |compareSound|%>
      <%if compareSound.position == '1'%>
      <div class="col-md-12 border-div">
        <%= image_tag "#{compareSound.img}", class: "list-image"%>
        <span class="content"><%=compareSound.word%> - <%=compareSound.vocalize%> - <%=compareSound.translate%></span>
        <span class="desc">
          <audio id="compare<%=compareSound.index+compareSound.id.to_s()%>">
            <source src='<%=compareSound.source%>' type='audio/mpeg'/>
          </audio>
          <a id="compare<%=compareSound.id.to_s()%>" class="play-compare">
          <i class="fa fa-volume-up fa-2 play1"  ></i>
          <i class="fa fa-volume-up fa-2 pause1"></i>
          </a>
        </span>
      </div>
      <%end%>
      <%end%>
    </div>
    <div class="col-md-5">
      <%@compareSounds.each do |compareSound|%>
      <%if compareSound.position == '2'%>
      <div class="col-md-12 border-div">
        <%= image_tag "#{compareSound.img}", class: "list-image"%>
        <span class="content"><%=compareSound.word%> - <%=compareSound.vocalize%> - <%=compareSound.translate%></span>
        <span class="desc">
          <audio id="compare<%=compareSound.index+compareSound.id.to_s()%>">
            <source src='<%=compareSound.source%>' type='audio/mpeg'/>
          </audio>
          <a id="compare<%=compareSound.id.to_s()%>" class="play-compare" href="JavaScript:void(0)">
          <i class="fa fa-volume-up fa-2 play1" ></i>
          <i class="fa fa-volume-up fa-2 pause1"></i>
          </a>
        </span>
      </div>
      <%end%>
      <%end%>
    </div>
  </div>
</div>