<section class="list-pronunciation">
  <p id="item_pronunciation" class="hidden"><%=raw @item_pronunciations.to_json%>
  <div class="container">
	  <div class="row ">
	    <div class="col-md-2 title-item">
	      <button type="button" class="btn btn-default text-button"><%= link_to "Go to Quiz", sub_quiz_path(@pronunciation), class: "button-main"%>
	      </button>
	    </div>
	  </div>
	  
  <%=@tmps.each_slice(3) do |slice_of_three|%>
  <div class="row content-pronunciation">
  <div class="col-md-2">
  	
  </div>
    <%slice_of_three.each do |tmp|%>
	    <div class="col-md-3">
	      <%= image_tag "#{tmp.img}", class: "list-image"%>
		      <p class="desc">
		        <span><%=tmp.word%> - <%=tmp.vocalize.force_encoding("UTF-8")%></span>
		        <br>
		        <span><%=tmp.translate.force_encoding("UTF-8")%></span>
		        <audio id="pronunciation<%=tmp.index+tmp.id.to_s()%>">
		          <source src='<%=tmp.source%>' type='audio/mpeg'/>
		        </audio>
		        <a id="pronunciation<%=tmp.id.to_s()%>" class="play-audio2" href="JavaScript:void(0)">
		        <i class="fa fa-volume-up fa-2 play" ></i>
		        <i class="fa fa-volume-up fa-2 pause"></i>
		        </a>
		      </p>
	    </div>
    <%end%>
    </div>
    <%end%>
    <div class="row btn-list">
      <!-- <input  type="button" class="back_pronunciation" value="Back" />  -->
      <!-- <input  type="button" class="next_pronunciation" value="Next" /> -->
      <%= will_paginate @tmps, :page_links => false%>
    </div>
  </div>
</section>
