<section>
		<div class="container">
		<%=@vocabularies.each_slice(6) do |slice_of_five|%>
			<div class="row box">
			<%slice_of_five.each do |vocabulary|%>
				<div class="col-md-2  item-letter">
					<%= link_to image_tag(vocabulary.img, class: "border-image"), vocabulary_vocabulary_examples_path(vocabulary) %>
				</div>
				<%end%>
			</div>
		<%end%>
		</div>
	</section>
	