/* Font letter */
@import "variables";
@import "mixins";


.text-3d {
// color: green;
@include add-chu3d(rgb(255, 223, 1),'Lobster');
padding: 65px 0 0 30px;
font-size: 60px;
text-decoration: none;
&:hover, &:focus {
	text-decoration: none;
	  // color: #ffdf01;
	  color: #ffdf01;
}
}

.audio-3d {
// color: green;
@include add-chu3d(#01FF8B,'Lobster');
// padding: 65px 0 0 30px;
font-family: 'Crete Round', serif;
font-size: 30px;
}

.text-voca {
	// @include add-chu3d(green,'Playfair Display');
	  font-size: 37px;
  margin-top: -110px;
  margin-left: 21px;
 	 // font-family: 'Yesteryear', cursive;
  color: green;
}

.text-subject {
	@extend .text-voca;
	margin-left: 42px;
}

.text-pro {
	@extend .text-voca;
	margin-left: 10px;
  	font-size: 33px;
}

.text-enter {
	@extend .text-voca;
	margin-left: 17px;
  font-size: 35px;
}

