@mixin add-chu3d($color, $font) {
  color: $color;
  font-family: $font;
  margin: 10px;
  text-shadow: 0 1px 0 #241F1F,
  0 2px 0 #201D1D,
  0 3px 0 #201D1D,
  0 4px 0 #181414,
  0 5px 0 #221F1F,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
   0 20px 20px rgba(0,0,0,.15);
}
