<section class="section-list-subject">
	<div class="container">
	<%=@subjects.each_slice(3) do |slice_of_three|%>
			<div class="row">
			<%slice_of_three.each do |subject|%>
				<div class="col-md-3">
					<%= link_to image_tag(subject.img, class: "list-image-subject"), detail_path(subject) %>
				</div>
				<%end%>
			</div>
		<%end%>

		<!-- <div class="row">
			<div class="col-md-3 col-md-offset-2">
				<%= link_to image_tag('animal.png', class: "list-image-subject") %> 

			</div>
			<div class="col-md-3">
				<%= link_to image_tag('family.png', class: "list-image-subject") %> 

			</div>
			<div class="col-md-3">
				<%= link_to image_tag('school.png', class: "list-image-subject") %> 

			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<%= link_to image_tag('animal.png', class: "list-image-subject") %> 

			</div>
			<div class="col-md-3">
				<%= link_to image_tag('family.png', class: "list-image-subject") %> 

			</div>
			<div class="col-md-3">
				<%= link_to image_tag('school.png', class: "list-image-subject") %> 

			</div>
		</div> -->
	</div>
</section>