<%= form_for(@todoapp, html: {class: 'form-horizontal'}) do |f| %>
  <% if @todoapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todoapp.errors.count, "error") %> prohibited this todoapp from being saved:</h2>

      <ul>
      <% @todoapp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-lable' %>
    <div class="col-sm-10">
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  </div>
  <div class="field form-group">
    <%= f.label :notes, class: 'col-sm-2 control-lable' %>
    <div class="col-sm-10">
    <%= f.text_area :notes, class: 'form-control' %>
    </div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit%>
    </div>
  </div>
<% end %>
