<p id="notice"><%= notice %></p>

<h1>Listing Todoapps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <ul class="nav nav-pills" role="tablist">
      <li class="active"><%= link_to 'View list', todoapps_path %></li>
      <li><%= link_to 'New todo', new_todoapp_path %></li>
    </ul>

    <% @todoapps.each do |todoapp| %>
      <tr>
        <td>
          <span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{todoapp.created_at.strftime("%m/%e/%Y at %w:%M %p")}, Last modified on #{todoapp.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>">
          <%= todoapp.title %>
        </span>
        </td>
        <td><% if todoapp.notes? %>
  <!-- Button trigger modal -->
  <button class="btn btn-link" data-toggle="modal" data-target="#todoapp-<%= todoapp.id %>-notes">
    View notes (popover)
  </button>

  <!-- Modal -->
  <div class="modal fade" id="todoapp-<%= todoapp.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="todoapp-<%= todoapp.id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="todoapp-<%= todoapp.id %>-label">Notes</h4>
        </div>
        <div class="modal-body">
          <%= todoapp.notes %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
        </td>
        <td><%= link_to 'Show', todoapp, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_todoapp_path(todoapp) , class: 'btn btn-info btn-xs'%></td>
        <td><%= link_to 'Destroy', todoapp, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_todoapp_path, class: 'btn btn-success' do%>
<i class = "glyphicon glyphicon-plus"></i> New Todo
<%end%>