<ul class="nav nav-pills" role="tablist">
  <li><%= link_to 'View list', todoapps_path %></li>
  <li class="active"><%= link_to 'New todo', new_todoapp_path %></li>
</ul>

<h1>New Todoapp</h1>

<%= render 'form' %>

<%= link_to 'Back', todoapps_path %>
