<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todoapp.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @todoapp.notes %>
</p>

<%= link_to 'Edit', edit_todoapp_path(@todoapp) %> |
<%= link_to 'Back', todoapps_path %>
