<section class="section-list-subject">
	<div class="container">
	<%=@subjects.each_slice(3) do |slice_of_three|%>
			<div class="row">
			<%slice_of_three.each do |subject|%>
				<div class="col-md-3">
					<%= link_to image_tag(subject.img, class: "list-image-subject"), subject_parts_path(subject) %>
				</div>
				<%end%>
			</div>
		<%end%>
	</div>
</section>