<section>

<p id="item" class="hidden"><%=raw @items.to_json%>
		<div class="container">
		<%=@vocabulary_examples.each_slice(3) do |slice_of_three|%>
			<div class="row list-item">
				<div class="col-md-2 title-item">
					<!-- <%= image_tag "#{@vocabulary.img}"%> -->
					<%= link_to image_tag(@vocabulary.img), vocabularies_path%>
						<button type="button" class="btn btn-default text-button"><%= link_to "Go to Quiz", vocabulary_quizzes_path(@vocabulary), class: "button-main"%></button>
				</div>
				<%slice_of_three.each do |vocabulary_example|%>
				<div class="col-md-3">
					 <%= image_tag "#{vocabulary_example.img}", class: "list-image"%>
						<p class="desc">
							<span><%=vocabulary_example.word%> - <%=vocabulary_example.translate.force_encoding("UTF-8")%></span>
	            <audio id="vocabulary<%=vocabulary_example.index+vocabulary_example.id.to_s()%>">
	              <source src='<%=vocabulary_example.source%>' type='audio/mpeg'/>
	            </audio>
	            <a id="vocabulary<%= vocabulary_example.id.to_s()%>" class="play-audio" href="JavaScript:void(0)">
	            <i class="fa fa-volume-up fa-2 play pl_<%=vocabulary_example.id%>" ></i>
	            <i class="fa fa-volume-up fa-2 pause pau__<%=vocabulary_example.id%>"></i>
	            </a>
	          </p>
				</div>
				<%end%>
				<!-- <div class="row btn-list">
					<input  type="button" class="back" value="Back" /> 
					<input  type="button" class="next" value="Next" />
				</div> -->
		</div>
		<%end%>
		<input  type="button" class="back-vocabulary" value="Back"/> 
		<div class="pull-right"><%= will_paginate @vocabulary_examples, :page_links => false%> </div>
	</section>
	
