<section>

		<div class="container">
			<div class="row list-item">
				<div class="col-md-2 title-item">
					<!-- <%= image_tag "#{@vocabulary.img}"%> -->
					<%= link_to image_tag(@vocabulary.img), vocabularies_path%>
						<button type="button" class="btn btn-default text-button"><%= link_to "Go to Quiz", quiz_path(@vocabulary), class: "button-main"%>
				</div>
				<%@vocabulary_examples.each do |vocabulary_example|%>
				<div class="col-md-3">
					 <%= image_tag "#{vocabulary_example.img}", class: "list-image"%>
						<p class="desc">
							<span><%=vocabulary_example.word%> - <%=vocabulary_example.translate.force_encoding("UTF-8")%></span>
	            <audio id="<%=vocabulary_example.index+vocabulary_example.id.to_s()%>">
	              <source src='<%=vocabulary_example.source%>' type='audio/mpeg'/>
	            </audio>
	            <a id="<%= vocabulary_example.id.to_s()%>" class="play-audio" href="JavaScript:void(0)">
	            <i class="fa fa-volume-up fa-2 play" ></i>
	            <i class="fa fa-volume-up fa-2 pause"></i>
	            </a>
	          </p>
				</div>
				<%end%>
				<div class="row btn-list">
					<input  type="button" class="back" value="Back" /> 
					<input  type="button" class="next" value="Next" />
				</div>
		</div>
	</section>
