<section class="section-question">
  <p id="item_pronunciation" class="hidden"><%=raw @item_pronunciation.to_json%></p>
  <div class="container">
    <%@quizzes.each do |quiz|%>
    <div class="row item-question">
      <div class="col-md-1 col-md-offset-2">
        <%= image_tag "question.png", class: "img-index"%>
        <span class="question-index"><%=quiz.index%></span>
      </div>
      <div class="col-md-8">
        <p class="item-question"><%=quiz.question%></p>
      </div>
    </div>
    <div class="row content-question">
      <div class="col-md-4 col-md-offset-2">
        <%= image_tag "cat.png", class: "img-question"%>
      </div>
      <div class="col-md-6">
        <ul class="right-answers">
          <%@subquizzes.each do |sub_quiz|%>
          <%if quiz.id == sub_quiz.quiz_id%>
          <li class="answers">
            <input type="radio" name="question-1" id="<%=quiz.id%><%=sub_quiz.index%>" value="1">
            <label><%=sub_quiz.answer%></label>
          </li>
          <%end%>
          <%end%>
        </ul>
      </div>
    </div>
    <%end%>
    <div class="row check-question pull-right" >
      <!-- <input  type="button" class="check" value="Check" />  -->
      <!-- Button trigger modal -->
      <button type="button"  class=" btn-lg check-pronunciation check" data-toggle="modal" data-target="#check-pronunciation">
      Check
      </button>
      <!-- Modal -->
      <div class="modal fade" id="check-pronunciation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body " >
              <%= image_tag "dung.png", class: "img-check" , id: "check-pronunciation-correct", style: "display:none;"%>
              <%= image_tag "sai.png", class: "img-check" , id: "check-pronunciation-incorrect", style: "display:none;"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>