<section class="section-entertainment">
  <div class="container">
  <p id="events" class="hidden"><%= @event.to_json%>
    <fieldset class="list-songs">
      <div class="item-song text-center">Songs - Bài hát</div>
      <%=@entertainments.each_slice(3) do |slice_of_six|%>
      <div class="row">
        <%slice_of_six.each do |entertaiment|%>
        <div class="col-md-2 image-audio">
          <button id="btn-image" data-toggle="modal" data-target="#<%=entertaiment.id%>"><%= image_tag "#{entertaiment.img}", class: "list-image"%><%= image_tag "audio.png", class: "list-icon"%></button>
          <figcaption class="caption"><%=entertaiment.name%> - <%=entertaiment.translate.force_encoding("utf-8")%></figcaption>
          <div class="modal fade" id="<%=entertaiment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content ">
                <div class="modal-header ">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel"><%=entertaiment.name%></h4>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6">
                         <object type="application/x-shockwave-flash" id="player1" name="player1" data="http://www.tienganh123.com/jwplayer/player.swf" width="500" height="425">
                    <param name="allowfullscreen" value="true">
                    <param name="allowscriptaccess" value="always">
                    <param name="bgcolor" value="#ffffff">
                    <param name="wmode" value="opaque">
                    <param name="flashvars" value="file=<%=entertaiment.source%>&amp;image=<%=entertaiment.img%>&amp;autostart=true">
                  </object>
                      </div>
                      <div class="col-md-6">
                         <form class="form-content modal-center">
                    <fieldset >
                      <legend class="modal-center">Content:</legend>

                      <%@sub_entertainments.each do |sub_entertainment|%>
                      <%if entertaiment.id == sub_entertainment.entertainment_id%>
                      <label  tooltip="<%=sub_entertainment.translate.force_encoding("UTF-8")%>" class="modal-center"><%=sub_entertainment.content%></label>
                      <br>
                      <%end%>
                      <%end%>
                    </fieldset>
                  </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end modal-body-->
              </div>
              <!--end modal-content-->
            </div>
            <!--end modal-dialog-->
          </div>
          <!--end modal fade-->
        </div>
        <!--end col-md-2-->
        <%end%>
      </div>
      <!--end row-->
      <%end%>
    </fieldset >
    <!-- <div class="row">
      <fieldset class="list-stories">
        <legend>Story - Truyen ke</legend>
      </fieldset>
    </div>
    <div class="row">
      <fieldset class="list-movies">
        <legend>The Movie - Phim</legend>
      </fieldset>
    </div> -->
  </div>
</section>