body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5px;
  color: $base-font-color;
  background-color: #dddddd;
  @include background-size(cover, webkit moz ms o);
  overflow-x: hidden;
}

/*a {
  color: $white-color;
  text-decoration: none;
}

a:focus {
  outline-style: none;
}
*/
ul, li {
  list-style: none;
}

button {
  @include border-radius(0px);
}

p {
  font-size: 20px;
}

p.small {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $white-color;
  text-decoration: none;
  outline: 0;
  color: #18bc9c;
  outline-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}