/* Font colors */
$base-font-size: 15px;
$base-font-family: ‘Metrophobic’, arial, serif, sans-serif;
$base-font-color: #000000;

/* Background Colors */
$green-color: #00FF66;
$dark-color: #333333;
$white-color: #ffffff;
$blue-color: #73cef4;
$green-bg-color: #cdef8e;
$blue-h2-color: #131C5A;
$bg-color: #dddddd;
$speak-color: #ADBEB6;
$red-color: red;

/* Section main area */ 
$main-height: 90px;