//  logo index
.index {
	over-flow: hidden;
	.header-main{
		// background-color: rgb(154, 244, 210);
		opacity: 1;
		.header-right {
			list-style-type: none;
			padding: 0;
			margin: 10px;
			li {
				display: inline-block;
			}
		}
	}
	.header-index {
		margin: 14px 0 0 0;
	}
}





.header-grownups-block ul{
list-style-type: none;
text-transform: uppercase;
margin: 0;
margin-left: 69px;
padding: 0;
height: auto;

height: 0px\9;
float: right\9;
}

.header-grownups-block ul li.button.last{
margin-right: 0;
}

.header-grownups-block ul li.button{
display: inline;
color: #fff;
float: left;
width: 136px;
height: 41px;
margin: 8px 5px 0 0;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
text-align: center;
border-radius: 7px;
border-bottom: 3px solid rgba(0, 0, 0, 0.2);
position: static;
}

.header-grownups-block ul li.button:hover{
border-bottom-width: 0px;
border-top: 3px solid rgba(0, 0, 0, 0.1);

padding-bottom: 0px\9;
padding-top: 2px\9;
background-image: none\9;
border-top: 2px solid #ffffff\9;
height: 24px\9;
}

.header-grownups-block ul li.button .pronunciation {
  color: white;
text-decoration: none;
display: block;
background: url("pronunciation-text.png" ) no-repeat left -1px transparent;
text-indent: -1px;
width: 137px;
height: 46px;
margin: -4px 0px 0px 0px;
}
.header-grownups-block ul li.button .entertaiment {
  color: white;
text-decoration: none;
display: block;
background: url("entertaiment-text.png" ) no-repeat left -1px transparent;
text-indent: -1px;
width: 122px;
height: 57px;
margin: -4px 0px 0px 10px;
}
.header-grownups-block ul li.button .subject {
  color: white;
text-decoration: none;
display: block;
background: url("subject-text.png" ) no-repeat left -1px transparent;
text-indent: -1px;
width: 103px;
height: 42px;
margin: -2px 0px 0px 0px;
}
.header-grownups-block ul li.button .vocabulary {
  color: white;
text-decoration: none;
display: block;
background: url("vocabulary-text.png" ) no-repeat left -1px transparent;
text-indent: -1px;
width: 124px;
height: 42px;
margin: -2px 0px 0px 0px;;
}
.header-grownups-block ul li.button:hover a{
background-position: left -3px; 
}

.header-grownups-block ul li.button.teachers a{
background-position: center -1px;
}

.header-grownups-block ul li.button.teachers:hover a{
background-position: center -3px; 
}

@media screen and (max-width: 837px) {
  .header-grownups-block ul li.button
 {
    display: none;
    position: relative;
    top: -40px;
  }
  
  .header-grownups-block{
    position: absolute;
    width: 370px;
    right: 0;	  
  }
}

@media screen and (max-width: 320px) {
  .header-grownups-block ul{
  position: relative;
  right: 0;
  }
  .header-grownups-block ul li.button{
  width:100px;
  }
}

.sty {
	background-color: rgb(227, 245, 252);
}
